:root {
    --dark-col: #0F0717;
    --light-col: #24123B;
}

* {
    margin:0;
    padding:0;
    color: #fff;
    font-weight: 400;
}

html {
    height: 100%;
}

body {
    display: block;
    height: 100%;
    background: var(--dark-col);
    background: linear-gradient(0deg, var(--dark-col) 0%, var(--light-col) 100%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
}

canvas {
    border: 1px solid red;
    background-color: var(--dark-col);
}